<h2>教程指南</h2>

本教程的终极计划是构建一个程序，来帮助招聘公司管理一群英雄。 即使英雄们也需要找工作。

这篇《英雄指南》涵盖`了 Angular 的核心原理。这次构建的应用会涉及很多特性：获得并显示英雄列表，编辑所选英雄的详情，并在英雄数据的多个视图之间建立导航。这些特性，在成熟的、数据驱动的应用中经常见到。

我们将使用内置指令来显示 / 隐藏元素，并且显示英雄数据的列表。 我们将创建组件来显示英雄的详情和英雄列表。 我们将对只读数据使用单向数据绑定。我们将添加一些可编辑字段，并通过双向数据绑定更新模型。 我们将把组件上的方法绑定到用户事件上，比如按键和点击。 我们将让用户能从主列表视图中选择一个英雄，然后在详情视图中编辑它。 我们将通过管道对数据进行格式化。 我们将创建一个共享服务来管理我们的英雄们。 我们将使用路由在不同的视图及其组件之间进行导航。

完成本教程后，我们将学习足够的 Angular 核心技术，并确信 Angular 确实能做到我们需要它做的。 我们将涵盖大量入门级知识，同时我们也会看到大量链接，指向更深入的章节。

当完成这个教程时，应用运行起来是这样的： 在线例子 / 下载范例 。